.navigator {
  display: flex;
  justify-content: center;
}

.navigator a {
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.navigator a:hover {
  background-color: #8400ff;
  color: white;
}
